<h2><%= @player.name %></h2>

<h3><%= @player.position %></h3>

<p><%= @player.assists %></p>
<p><%= @player.steals %></p>
<p><%= @player.blocks %></p>
<p><%= @player.points %></p>
<p><%= @player.team %></p>
<p><%= @player.season %></p>